*.exp
*.pch
*.cod
*.map
*.exe

*.lnk
*.autosave
*.lnt
*.htm
*.obj
*.a
moc_*.cpp
*.Debug
*.Release
*.pro.user.*
*.cd

/GeneratedFiles
_UpgradeReport_Files/
*/debug


*.old
*.XML
*.vsprops

*.APS
*.ncb
*.user
*.sln
*.suo

*.obj
*.idb
*.pdb
*.htm
*.html